@using RestaurantManagementProject.Models.Server
@model InputOrderViewModel



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Comments -->
    <title>restaurant</title>
    <!-- ADD LOGO-->
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP CDN -->
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>

    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CHARTS CDN -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    -->
    <script src="charts/bundle.js"></script>
    <script src="charts/bundle.min.js"></script>
    <script src="charts/chart.js"></script>
    <script src="charts/bundle.min.js"></script>

</head>


<!---needs to allow you to make multiple different orders, and to view table details and other orders, and edit orders-->
<body>

    <!-- ALSO needs to allow you to change the table's server assignment, and see other table orders, in addition to add an order -->
    <div class="container">
        <h2 style="font-family:Calibri;">Table @Model.TableID Order</h2><br />

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Remove Item</th>
                </tr>
            </thead>
            <tbody>
                @foreach (FoodItem item in Model.Order.FoodItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>$@item.Price</td>
                        <td>
                            <a class="btn btn-danger" style="" href="@Url.Action("DeleteItem", "Server", new { itemId = item.Id, orderId = Model.Order.Id, tableId = Model.TableID})">
                                <span class="">Remove Item</span> 
                            </a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            @if (Model.FoodItems != null)
            {
                int count = 1;
                foreach (var x in Model.FoodItems)
                {
                    if (count % 3 == 2)
                    {
                    <div class="col-sm-4">
                        <a class="btn btn-default widthOfButton text-center" href="@Url.Action("AddOrder", "Server", new { foodID = x.FoodItem.Id, tableId = Model.TableID, OrderId =  Model.Order.Id})">
                            <span id="@x.FoodItem.Id">@x.FoodItem.Name</span> 
                        </a>
                    </div>
                    }
                    if (count % 3 == 1)
                    {
                    <div class="col-sm-4">
                        <a class="btn btn-default widthOfButton text-center" href="@Url.Action("AddOrder", "Server", new { foodID = x.FoodItem.Id, tableId = Model.TableID, OrderId =  Model.Order.Id})">
                            <span id="@x.FoodItem.Id">@x.FoodItem.Name</span> 
                        </a>
                    </div>
                    }
                    if (count % 3 == 0)
                    {
                    <div class="col-sm-4">
                        <a class="btn btn-default widthOfButton text-center" href="@Url.Action("AddOrder", "Server", new { foodID = x.FoodItem.Id, tableId = Model.TableID, OrderId =  Model.Order.Id})">
                            <span id="@x.FoodItem.Id">@x.FoodItem.Name</span> 
                        </a>
                    </div>
                    <br /> <br />
                        }
                        count++;
                    }
                }
        </div>
    </div>


</body>
</html>

<style>
    p.thick {
        font-weight: bold;
    }

    footer {
        background-color: #f2f2f2;
        padding: 15px;
        font-size: 10px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

        a:hover {
            color: #00A0C6;
            text-decoration: none;
            cursor: pointer;
        }
    .widthOfButton {
        width:200px !important;
    }
</style>