@model  RestaurantManagementProject.Models.Employee.EmployeeViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Comments -->
    <title>restaurant</title>
    <!-- ADD LOGO-->
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP CDN -->
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>

    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CHARTS CDN -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    -->
    <script src="charts/bundle.js"></script>
    <script src="charts/bundle.min.js"></script>
    <script src="charts/chart.js"></script>
    <script src="charts/bundle.min.js"></script>

</head>

<style>
    p.thick {
        font-weight: bold;
    }

    footer {
        background-color: #f2f2f2;
        padding: 15px;
        font-size: 10px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

        a:hover {
            color: #00A0C6;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<body>

    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive"><br /><br />
                <div class="container-fluid" style="border:1px solid; border-color:gray; padding:2%; border-radius:25px;">
                    <div style="" class="col-sm-6">
                        @using (Html.BeginForm("ClockIn", "Employee"))
                        {
                            if (Model.timesheet.TimeIn.Equals(DateTime.MinValue))
                            {
                                <h3>Clock In Time:</h3>
                                <br /><br /><br />
                                <input type="submit" class="btn btn-default" value="Clock In" />
                            }
                            else
                            {
                                <h3 style="float:left;">Clock In Time:</h3>
                                <h3 style="color:green; float:left; margin-left:2%;">@Model.timesheet.TimeIn</h3>

                            }
                        
                            if (!(Model.timesheet.TimeOut.Equals(Model.timesheet.TimeIn)))
                            {
                                <br /><br /><br />
                                <input type="submit" class="btn btn-default" value="Clock In" />
                            }

                        }
                    </div>

                    <div style="m" class="col-sm-6">
                        @using (Html.BeginForm("ClockOut", "Employee"))
                        {
                            if (Model.timesheet.TimeOut.Equals(Model.timesheet.TimeIn))
                            {
                                <h3>Clock Out Time:</h3>
                                <input type="submit" class="btn btn-default" value="Clock Out" />
                            }
                            else
                            {
                                <h3 style="float:left;">Clock Out Time: </h3>
                                <h3 style="color:red;float:left;  margin-left:2%;">@Model.timesheet.TimeOut</h3>
                            }

                        }
                    </div>
                </div>
                <h2 style="font-family:Calibri; margin-top: 5%;">Past Time Sheets</h2>

                <table class="table table-striped" title="Past Time Sheets">
                    <tr>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Time Worked</th>
                    </tr>

                    @foreach (Timesheet t in Model.timesheets.OrderByDescending(x => x.TimeIn).Take(10))
                    {
                        if (!t.Equals(DateTime.MinValue))
                        {
                            var timeIn = @t.TimeIn;
                            timeIn = timeIn.AddSeconds(-timeIn.Second);
                            timeIn = timeIn.AddMilliseconds(-timeIn.Millisecond);

                            var timeOut = @t.TimeOut;
                            timeOut = timeOut.AddSeconds(-timeOut.Second);
                            timeOut = timeOut.AddMilliseconds(-timeOut.Millisecond);

                            <tr>


                                <td>@timeIn</td>


                                @if (!t.TimeIn.Equals(t.TimeOut) )
                                {
                                    <td>@timeOut</td>
                                    <td>@timeOut.Subtract(timeIn)</td>
                                }
                                else
                                {
                                    <td> - </td>
                                    <td> - </td>
                                }


                            </tr>
                        }
                    }

                </table>
            <br />
                <h4>Hours worked total: @Math.Round(Model.hoursWorkedTotal,2)</h4>
            </div>
        </div>
    </div>

</body>
</html>