@model List<User>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Comments -->
    <title>restaurant</title>
    <!-- ADD LOGO-->
    <link rel="shortcut icon" href="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BOOTSTRAP CDN -->
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    -->
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <script src="bootstrap/jquery.js"></script>
    <script src="bootstrap/bootstrap.js"></script>
    <!--
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CHARTS CDN -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    -->
    <script src="charts/bundle.js"></script>
    <script src="charts/bundle.min.js"></script>
    <script src="charts/chart.js"></script>
    <script src="charts/bundle.min.js"></script>
</head>
<style>
    p.thick {
        font-weight: bold;
    }

    footer {
        background-color: #f2f2f2;
        padding: 15px;
        font-size: 10px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

        a:hover {
            color: #00A0C6;
            text-decoration: none;
            cursor: pointer;
        }
</style>
<body>
        <div class="row">
            <h2 style="font-family:Calibri;">Employees</h2>
            <a class="btn btn-default pull-right" style="margin-top:-25px" href="@Url.Action("AddTable", "Manager")">
                <span class="glyphicon glyphicon-plus"></span> Add Table
            </a>
            <a class="btn btn-info pull-right" style="margin-top:-25px" href="@Url.Action("Reservations", "Manager")">
                <span class=""></span> View Reservations
            </a>
            

        <br />
        <br />
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Hours Per Week</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User u in Model)
                        {
                            <tr>
                                <td>@u.Name</td>
                                <td>@u.Email</td>
                                <td>
                                    @if (u.Users_Employee == null)
                                    {
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 2, userId = u.Id})">
                                            <span class=""></span> Manager
                                        </a>
                                        <a class="btn btn-default" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 0, userId = u.Id})">
                                            <span class=""></span> Server
                                        </a>
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 1, userId = u.Id})">
                                            <span class=""></span> Kitchen
                                        </a>

                                    }
                                    else if (u.Users_Employee.Users_Kitchen != null)
                                    {
                                        <a class="btn btn-success" style="" disabled="disabled">
                                            <span class=""></span> Kitchen
                                        </a>
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 0, userId = u.Id})">
                                            <span class=""></span> Server
                                        </a>
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 2, userId = u.Id})">
                                            <span class=""></span> Manager
                                        </a>

                                    }
                                    else if (u.Users_Employee.Users_Manager != null)
                                    {
                                        <a class="btn btn-success" style="" disabled="disabled">
                                            <span class=""></span> Manager
                                        </a>
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 1, userId = u.Id})">
                                            <span class=""></span> Kitchen
                                        </a>
                                        <a class="btn btn-default" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 0, userId = u.Id})">
                                            <span class=""></span> Server
                                        </a>
                                    }
                                    else if (u.Users_Employee.Users_Server != null)
                                    {
                                        <a class="btn btn-success" style="" disabled="disabled">
                                            <span class=""></span> Server
                                        </a>
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 1, userId = u.Id})">
                                            <span class=""></span> Kitchen
                                        </a>
                                        <a class="btn btn-default" style="" href="@Url.Action("ChangeEmployeeStatus", "Manager", new { statusId = 2, userId = u.Id})">
                                            <span class=""></span> Manager
                                        </a>
                                        
                                    }

                                </td>
                                <!-- Still working on this, show how much users have worked -->
                                <td>
                                    @if (u.Users_Employee != null)
                                { @u.Users_Employee.HoursPerWeek;
                                }
                                else
                                { <p> - </p>}
                            </td>
                            <td>
                                <a class="btn btn-danger" style="" href="@Url.Action("DeleteEmployee", "Manager", new { userId = u.Id})">
                                    <span class=""></span> Remove Employee
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>