@model  RestaurantManagementProject.Models.Kitchen.KitchenViewModel


@{
    ViewBag.Title = "Index";


}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <h1>Kitchen</h1>

            <h3>Open Orders</h3>
            <div class="row">
                <div class="col-xs-12">
                    @foreach (Order o in Model.OpenOrders)
                    {
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Order for Table @o.Table.Id - @o.TimeCreated.TimeOfDay</h3>
                                <a class="btn btn-primary pull-right" style="margin-top:-25px" href="@Url.Action("UpdateOrderStatus", "Kitchen", new { orderId = o.Id })">
                                    <span class="glyphicon glyphicon-check"></span> Ready
                                </a>
                            </div>
                            <div class="panel-body" style="margin-bottom:0px">
                                <table class="table table-striped" style="margin-bottom:0px; margin-top:-10px">
                                    <tbody>
                                        @foreach (FoodItem item in o.FoodItems)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td> $@item.Price</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    }
                </div>
            </div>



            <h3>Ready Orders</h3>
            <table class="table table-striped" title="Ready Orders">
                <!-- Header-->
                <tr>
                    <th>Status</th>
                    <th>Time Created</th>
                    <th>Table ID</th>
                    <th>Mark Complete</th>
                    <th>Recall</th>
                </tr>
                @foreach (Order o in Model.ReadyOrders)
                {
                    <tr>
                        <td>@o.State</td>
                        <td>@o.TimeCreated</td>
                        @if (o.Table != null)
                        {
                            <td>@o.Table.Id</td>
                        }
                        <td>
                            <a class="btn btn-primary" style="" href="@Url.Action("UpdateOrderStatus", "Kitchen", new { orderId = o.Id })">
                                <span class="glyphicon glyphicon-check"></span> Complete
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-danger" style="" href="@Url.Action("RecallOrder", "Kitchen", new { orderId = o.Id })">
                                <span class="glyphicon glyphicon-remove"></span> Recall
                            </a>
                        </td>
                    </tr>

                }
            </table>
        </div>
    </div>
</div>


<p> This should be a table of orders, listing name, price, table, status, etc.</p> 
<p> There will be a button on the right of each order that will allow you to edit the status of the order</p> 
<p>Status can be "Open", "Ready", "Complete"</p> 
